*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fffbfb;
  --grey: #f0eef1;
  --black: #050505;
  --red: #ff7070;
  --light-green: rgb(113, 221, 101);
  --light-red: #ff9c9c;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--light-green);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-read,
.btn-delete,
.cancel,
.add-book-btn,
.logIn {
  background-color: var(--light-green);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-read:hover,
.btn-delete:hover,
.cancel:hover,
.add-book-btn:hover,
.logIn:hover {
  background-color: var(--white);
  color: var(--light-green);
  border: 4px solid black;
  border: rgba(0, 0, 0, 1);
  transform: scale(1.1);
}

.Book[data-read="true"] .HasRead {
  background: green;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.modal {
  position: fixed;

  width: 300px;
  height: 300px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.Book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--shadow);
  line-height: 1.2;
  height: 300px;
  width: 250px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: var(--border-radius);
  transition: filter 0.15s ease-in-out;
}

.btn-success {
  background-color: var(--light-green);
}

.btn-danger {
  background-color: var(--light-red);
}

.addBookContainer {
  display: sticky;
}

.addBook {
  display: flex;
  width: 40px;
  font-size: 20px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.addBook:hover {
  border: 2px solid var(--black);
}

.fa-plus {
  align-self: center;
  justify-items: center;
  color: var(--black);
  font-size: 20px;
  font-size: 1.2rem;
  display: flex;
}

.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 300px;
  height: 300px;
  background-color: var(--white);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.active {
  display: flex;
}

.Book .hasRead {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.Book[data-read="true"] .hasRead {
  background: green;
}
.Book[data-read="false"] .hasRead {
  background: red;
}
